
#menu-toggle {
    display: none;
}

header {
    flex-direction: row;
    padding: 0 2rem;
}

nav {
    position: static;
    display: block;
    background-color: transparent;
    width: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    padding: 1.5rem 1rem;
    border-bottom: none;
    border-top: 4px solid transparent;
}

nav ul li a:hover, nav ul li a.active {
    background-color: transparent;
    border-top: 4px solid var(--secondary-color);
    color: var(--secondary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    align-items: start; 
}

.events {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
}

.weather {
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
}

.spotlights-container {
    grid-column: 1 / 2; 
    grid-row: 1 / 3; 
    
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.spotlight-card {
    width: 45%; 
}

.join-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 3rem;
    align-items: start;
}

.membership-cards {
    margin-top: 0;
}

.discover-main {
    grid-template-columns: 250px 1fr;
    align-items: start;
}

.places-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    

    grid-template-areas: 
        "c1 c2 c3"
        "c4 c5 c6"
        "c7 c8 .";
}

.place-card:nth-child(3) img, 
.place-card:nth-child(8) img {
    height: auto;
    max-width: 100%;
}

.place-card figure {
    overflow: hidden;
    border-radius: 4px;
}

.place-card img {
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.place-card:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

.place-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}