@media (min-width: 768px) {

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    nav ul li a {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    main {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    /* --- GRID PARA LA SECCIÓN ABOUT (Escritorio) --- */
    .about-grid {
        /* Crea dos columnas: la primera es el doble de ancha que la segunda */
        grid-template-columns: 2fr 1fr;
        align-items: start; /* Alinea los elementos arriba */
        gap: 2rem; /* Más espacio entre las cajas */
    }

    /* --- GRID PARA CURSOS (Escritorio) --- */
    .course-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
        gap: 20px;
    }
    
    .filter-buttons button {
        max-width: none; /* Quitar límite de ancho en escritorio */
    }
}